.card {
  position: relative;
  width: 33.333%;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-position: center;
  background-size: cover;
}

.card:hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.6;
}
